.player {
  width: 200px;
  border: 1px solid rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player h2 {
  font-size: 20px;
  margin-right: 10%;
  color: aliceblue;
}
